html#index{ 
	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color:grey;
}  

#tv{
	max-width: 50%;
}

#loginform{
	max-width: 100%;
	float: left;
	border-radius: 1px;
	border: 1px; 
	margin: 0 2em 0em 0em; 
	padding: 2em;
	background-color:#000000;
	background:#000000;
	background: rgba(0, 0, 0, .7);
	text-align: left;
	color: white;

}

#register{
	max-width: 100%;
	float: right;
	border-radius: 1px;
	border: 1px; 
	margin: 0 2em 0em 0em; 
	padding: 2em;
	background-color:#000000;
	background:#000000;
	background: rgba(0, 0, 0, .7);
	text-align: left;

}

p{
	float: left;
	text-align: left;
	background-color:#000000;
	background:#000000;
	background: rgba(0, 0, 0, .7);
	color: white;

}


#amendpass
{
	float: left;
	text-align: left;
	background-color:#000000;
	background:#000000;
	background: rgba(0, 0, 0, .7);
	color: white;
	border-radius: 1px;
	border: 1px; 
	margin: 0 2em 0em 0em; 
	padding: 2em;

}


fieldset{
	margin: 0em; 
	padding: 2em 5em 3em 5em;

}

label
{
font-size: 15px;
color: white;
text-align: left;
}

input
{
float: left;
    
}



p
{
	max-width: 100%;
	border-radius: 1px;
	border: 1px; 
	margin: 0 0em 3em 0em; 
	padding: 1em;
	background-color:#000000;
	background:#000000;
	background: rgba(0, 0, 0, .7); 
}


#logo
{
	float:center;
	width: 35%;
}



body {
	max-width: 960px ;
	margin: 0px auto; 
	font-family: 'Hammersmith One', sans-serif;
	font-weight: bold;
	background-color: transparent;
	text-align: center;
	color:white;
}

header {
	text-align: right;
	font-family: 'Hammersmith One', sans-serif;
	font-size: 15px;
	background-color: black;
}

section{
	text-align: center;
	font-family: 'Hammersmith One', sans-serif;
	font-size: 15px;
	background-color: transparent;
	color:#000000;
	
}
header {
	max-width: 100%;
	border-radius: 0px;
	border: 1px; 
	margin: 0 0em 0em 0em; 
	padding: 0.5em;
	background-color:#000000;
	background:#000000;
	background: rgba(0, 0, 0, .7); 
	
}


#logo{
max-width: 50%;

}


a :hover {
	background-color:transparent;
	color: #C68609; 	
}
#horizontal_nav	
{ 
	border-radius: 1em; 
	margin: 0em; 
	padding: 0 0em 0em 0em; 
	width: 98.2%;
	color: white; 
	background-color: transparent; 
	text-align: center;
}	
#horizontal_nav ul 
{ 
	margin: 0; 
	padding: 0; 
	color: white; 
	background-color: transparent; 
}
#horizontal_nav li	 
{ 
	display: inline;
	padding: 0; 
	list-style: none; 
	color: white; 
	background-color: transparent; 
}	

#horizontal_nav a 
{ 
	margin: 0; 
	padding: 0.5em; 
	display: inline; 
	text-decoration: none; 
	color: white; 
	background-color: transparent; 
}
#horizontal_nav a:hover 
{ 
	color:  yellow; 
	background-color: transparent; 
}




a :hover {
	background-color:transparent;
	color: #C68609; 	
}
#horizontal_nav1	
{ 
	border-radius: 1em; 
	margin: 0em; 
	padding: 0 0em 0em 0em; 
	width: 98.2%;
	color: white; 
	background-color: transparent; 
	text-align: right;
}	
#horizontal_nav1 ul 
{ 
	margin: 0; 
	padding: 0; 
	color: white; 
	background-color: transparent; 
}
#horizontal_nav1 li	 
{ 
	display: inline;
	padding: 0; 
	list-style: none; 
	color: white; 
	background-color: transparent; 
}	

#horizontal_nav1 a 
{ 
	margin: 0; 
	padding: 0.5em; 
	display: inline; 
	text-decoration: none; 
	color: white; 
	background-color: transparent; 
}
#horizontal_nav1 a:hover 
{ 
	color:  yellow; 
	background-color: transparent; 
}